#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, start_time_distance
from hagelslag.processing.ObjectMatcher import centroid_distance, time_distance
import pandas as pd
import numpy as np

date_index = pd.DatetimeIndex(start="2016-05-02-00T00:00", end="2016-06-03T00:00", freq="1D")
#date_index = pd.DatetimeIndex([pd.Timestamp.utcnow().strftime("%Y%m%d")])
print(date_index.to_pydatetime())
out_path = "/hail/djgagne/"
ensemble_members = ["wrf-core01_arw"] + ["wrf-core{0:02d}_arw".format(m) for m in range(3, 11)]
ensemble_members += ["wrf-s_phys_rad{0:02d}_arw".format(m) for m in range(2, 11)]

config = dict(dates=date_index.to_pydatetime(),
              start_hour=13,
              end_hour=36,
              watershed_variable="hailsz",
              ensemble_name="SSEF",
              ensemble_members=ensemble_members,
              model_path="/hail/data/spring2016_nc/",
              model_watershed_params=(6, 1, 125, 100, 125),
              size_filter=12,
              gaussian_window=1,
              mrms_path="/sharp/djgagne/mrms_spring2016/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(18, 1, 125, 100, 125),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([centroid_distance, time_distance],
                                     np.array([160000, 3])),
              storm_variables=["uh_max", "r10cmx", "wupmax", "cqgmax", "pwat", "wdnmax",
                               "cmpref", "hailsz", "hailsd", "hailk1", "uh03mx", "hgtsfc"],
              potential_variables=["cmpref", "mlcape", "mlcins", "mucape", "mucins", "sblcl", "shr06", "lllr", "lr75"],
              tendency_variables=[],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation"],
              variable_statistics=["mean", "max", "min", "std",
                                   "percentile_10", "percentile_25", "percentile_50", "percentile_75", "percentile_90"],
              csv_path=out_path + "track_data_caps_2016_hailcast_csv/",
              geojson_path=out_path + "track_data_caps_2016_hailcast_json/",
              nc_path=out_path + "track_data_caps_2016_hailcast_nc/",
              unique_matches=True,
              closest_matches=True,
              match_steps=True,
              patch_radius=16,
              train=True,
              single_step=True,
              label_type="gamma",
              model_map_file="/home/djgagne/hagelslag/mapfiles/ssef2015.map",
              mask_file="/home/djgagne/hagelslag/mapfiles/ssef_2015_us_mask.nc"
              )
